.main {
	width: 400px;
	text-align: center;
	padding: 65px 25px; 
	background-color: rgb(240, 234, 234);
	box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.4)
}
.product-img {
	width: 320px;
}
.title {
	font-weight: bold;
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 0;
}
.description {
	font-size: 30px;
	width: 300px;
	margin-top: 0;
	margin-bottom: 0; 
	margin-left: 55px;
}
.buy-btn {
	margin-top: 20px;
	background-color: rgb(235, 89, 35);
	color: white;
	font-size: 30px;
	padding: 18px 24px;
	border-radius: 14px;
	border:none;
	cursor: pointer;
}
